{% extends "base.html" %}

{% block content %}
  {% if thesis %}
    <h2>Theses most similar to <em>{{ thesis.title }}</em> ({{ thesis.authors.first.name }}; {{ thesis.year }})</h2>
  {% else %}
    <h2>Theses most similar to your uploaded text</h2>
  {% endif %}

  {% include "theses/_similar_to_one_thesis.html" %}

  {% if thesis.unextractable %}
    <img src="https://cdn.vox-cdn.com/thumbor/LOJ14XV5tim4V8iqmmGqiFQ0e_k=/137x0:1359x759/1200x800/filters:focal(622x290:838x506)/cdn.vox-cdn.com/uploads/chorus_image/image/58025371/sadporg.0.jpg" />
  {% endif %}
{% endblock %}
