{% extends "base.html" %}

{% block content %}
  <h2>If you wrote this, you might also like...</h2>

  <p>
    Upload an article draft, thesis chapter-in-progress, et cetera and find out what MIT theses are most similar to it. Don't have one? Try using the text of a Wikipedia page on a STEM topic. (.txt or .docx files only, please.)
  </p>

  <p>
    The system will try its best no matter what content you upload, but is likely to only have meaningful results with scientific documents.
  </p>

  {% include "upload_form.html" %}

{% endblock %}
