[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
requests = "*"
refextract = {git = "https://github.com/MITLibraries/refextract.git"}

[packages]
boto = "==2.48.0"
chardet = "*"
coverage = "*"
dj-database-url = "*"
django = "~=2.2.28"
django-autocomplete-light = "~=3.3.0"
django-compressor = "*"
django-health-check = "*"
django-libsass = "*"
django-simple-captcha = "*"
gensim = "~=3.5.0"
gevent = "*"
gunicorn = "*"
nltk = "*"
tika = "*"
pillow = "*"
psycopg2 = "==2.8.6"
python-docx = "*"
python-magic = "*"
raven = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
