[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

requests = "*"


[packages]

django = {version = "~=1.11"}
gunicorn = "*"
gevent = "*"
coverage = "*"
gensim = "*"
nltk = "*"
tika = "*"
"psycopg2" = "*"
whitenoise = "*"
dj-database-url = "*"
django-compressor = "*"
django-libsass = "*"
django-autocomplete-light = "*"
python-magic = "*"
django-simple-captcha = "*"
pillow = "*"
python-docx = "*"
chardet = "*"


[requires]

python_version = "3.6"
