[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
requests = "*"
refextract = {git = "https://github.com/MITLibraries/refextract.git"}

[packages]
django = {version = "~=2.2.20"}
gunicorn = "*"
gevent = "*"
coverage = "*"
gensim = {version = "~=3.2.0"}
nltk = "*"
tika = "*"
"psycopg2" = "*"
whitenoise = "*"
dj-database-url = "*"
django-compressor = "*"
django-libsass = "*"
django-autocomplete-light = "~=3.3.0"
python-magic = "*"
django-simple-captcha = "*"
pillow = "*"
python-docx = "*"
chardet = "*"
django-health-check = "*"
raven = "*"
boto = "==2.48.0"

[requires]
python_version = "3.6"
