packages:
  yum:
    postgresql-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: hamlet.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hamlet.settings.aws
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_create_models_dir:
    command: "sudo mkdir --mode=755 ${MODELS_DIR}"
    test: '[ ! -d "${MODELS_DIR}" ]'
  02_sync_models_stored_in_s3:
    command: "aws s3 sync ${S3_MODELS_BUCKET} ${MODELS_DIR}"
  03_allow_django_setup:
    command: "chmod +x .platform/hooks/postdeploy/01_django_setup.sh"
