packages:
  yum:
    jq: []
    postgresql-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "hamlet.wsgi:application"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "hamlet.settings.aws"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

# https://aws.amazon.com/premiumsupport/knowledge-center/elastic-beanstalk-env-variables-shell/
commands:
  setvars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local

container_commands:
  01_create_models_dir:
    command: "sudo mkdir --mode=755 ${MODELS_DIR}"
    test: '[ ! -d "${MODELS_DIR}" ]'
  02_sync_models_stored_in_s3:
    command: "aws s3 sync ${S3_MODELS_BUCKET} ${MODELS_DIR}"
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  04_compress:
    command: "source /var/app/venv/*/bin/activate && python manage.py compress"
    leader_only: true
