container_commands:
  00_install_augeas:
    command: "yum -y install augeas"
  01_ensure_no_old_certbot:
    command: "yum remove certbot"
  02_make_certbot_venv:
    command: "python3 -m venv /opt/certbot/ && /opt/certbot/bin/pip install --upgrade pip"
  03_install_certbot:
    command: "/opt/certbot/bin/pip install certbot certbot-nginx"
  04_link_certbot:
    command: "ln -sf /opt/certbot/bin/certbot /usr/bin/certbot"
  05_pause_nginx:
    command: "service nginx stop"
  06_set_up_certs:
    command: "certbot --nginx --non-interactive --agree-tos -m 'andromeda.yelton@gmail.com' --domains 'hamlet.andromedayelton.com'"
  07_autorenew:
    command: "chmod u+x /var/app/current/.ebextensions/autorenew.sh && /var/app/current/.ebextensions/autorenew.sh"
  08_restart_nginx:
    command: "service nginx start"
