container_commands:
  00_install_augeas:
    command: "yum -y install augeas"
  01_ensure_no_old_certbot:
    command: "yum remove certbot"
  02_make_certbot_venv:
    command: "python3 -m venv /opt/certbot/ && /opt/certbot/bin/pip install --upgrade pip"
  03_install_certbot:
    command: "/opt/certbot/bin/pip install certbot certbot-nginx"
  04_link_certbot:
    command: "ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
  05_set_up_certs:
    command: "certbot --nginx --non-interactive --agree-tos -m 'andromeda.yelton@gmail.com' --domains 'hamlet.andromedayelton.com'
  06_autorenew:c
    command: "echo "0 0,12 * * * root /opt/certbot/bin/python -c 'import random; import time; time.sleep(random.random() * 3600)' && certbot renew -q" | sudo tee -a /etc/crontab > /dev/null"
