option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hamlet.settings.aws
    PYTHONPATH: "/var/app/current/hamlet:$PYTHONPATH"
    S3_MODELS_BUCKET: "s3://hamlet-model-files/"
    MODELS_DIR: /models
  aws:elasticbeanstalk:container:python:
    WSGIPath: hamlet.wsgi:application

container_commands:
  00_more_postgres:
    command: "yum -y install postgresql"
  01_create_models_dir:
    command: "sudo mkdir --mode=755 ${MODELS_DIR}"
    test: '[ ! -d "${MODELS_DIR}" ]'
  02_sync_models_stored_in_s3:
    command: "aws s3 sync ${S3_MODELS_BUCKET} ${MODELS_DIR}"
  03_migrate:
    command: "cd /var/app/current && pipenv run python manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "cd /var/app/current && pipenv run python manage.py collectstatic --noinput"
  05_compress:
    command: "cd /var/app/current && pipenv run python manage.py compress"
