container_commands:
  00_stop_apache:
    command: "killall httpd || true"
  # snapd says -ivh, but Amazon Linux already has an earlier version installed
  # This will cause a conflict; we need to upgrade (-U) rather than install.
  01_add_epel_repo:
    command: "sudo rpm -Uvh https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
  02_add_epel_optionals:
    command: 'sudo subscription-manager repos --enable "rhel-*-optional-rpms" --enable "rhel-*-extras-rpms"'
  03_add_epel_extras:
    command: "sudo yum update"
  04_install_snapd:
    command: "sudo yum install snapd"
  05_enable_socket_commns:
    command: "sudo systemctl enable --now snapd.socket"
  06_link_snap:
    command: "sudo ln -s /var/lib/snapd/snap /snap"
  07_update_snap:
    command: "sudo snap install core && sudo snap refresh core"
  08_install_certbot:
    command: "sudo snap install --classic certbot"
  09_link_certbot:
    command: "sudo ln -s /snap/bin/certbot /usr/bin/certbot"
  10_get_certificate:
    command: "sudo certbot certonly --apache"
  11_restart_apache:
    command: "sudo restart supervisord || sudo start supervisord"
