container_commands:
  00_stop_apache_if_running:
    command: "killall httpd || true"
  # This differs from RHEL epel install instructions given by snapd:
  # https://aws.amazon.com/premiumsupport/knowledge-center/ec2-enable-epel/
  01_ensure_linux_extras:
    command: "sudo yum install -y amazon-linux-extras"
  02_add_epel_repo:
    command: "sudo amazon-linux-extras install epel -y"
  04_install_snapd:
    command: "sudo yum install snapd"
  05_enable_socket_commns:
    command: "sudo systemctl enable --now snapd.socket"
  06_link_snap:
    command: "sudo ln -s /var/lib/snapd/snap /snap"
  07_update_snap:
    command: "sudo snap install core && sudo snap refresh core"
  08_install_certbot:
    command: "sudo snap install --classic certbot"
  09_link_certbot:
    command: "sudo ln -s /snap/bin/certbot /usr/bin/certbot"
  10_get_certificate:
    command: "sudo certbot certonly --apache"
  11_restart_apache:
    command: "sudo restart supervisord || sudo start supervisord"
