container_commands:
  01_stop_apache:
    command: "killall httpd"
  02_remove_ssl_conf:
    command: "sudo rm /etc/httpd/conf.d/ssl.conf || true"
  03_remove_certbot:
    command: "sudo rm -rf /opt/certbot && sudo rm -rf /opt/eff.org && yum remove mod24_ssl || true"
  04_restart_apache:
    command: "sudo restart supervisord || sudo start supervisord"
