option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DJANGO_SETTINGS_MODULE
    value: hamlet.settings.aws
  - option_name: PYTHONPATH
    value: "/opt/python/current/app/hamlet:$PYTHONPATH"
  - option_name: S3_MODELS_BUCKET
    value: "s3://hamlet-model-files/"
  - option_name: MODELS_DIR
    value: /models
  - namespace: aws:elasticbeanstalk:environment:proxy:staticfiles
    option_name: /static/
    value: staticfiles/
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: hamlet.wsgi:application

container_commands:
    01_create_models_dir:
        command: "sudo mkdir --mode=755 ${MODELS_DIR}"
        test: '[ ! -d "${MODELS_DIR}" ]'
    02_sync_models_stored_in_s3:
        command: "aws s3 sync ${S3_MODELS_BUCKET} ${MODELS_DIR}"
    03_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    04_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    05_compress:
        command: "source /opt/python/run/venv/bin/activate && python manage.py compress"
