container_commands:
  01_setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  02_setup_cache_headers:
    command: "cp .ebextensions/enable_cache_headers.conf /etc/httpd/conf.d/enable_cache_headers.conf"
  03_block_bots:
    command: "cp .ebextensions/block_bots.conf /etc/httpd/conf.d/block_bots.conf"
