files:
  "/tmp/wsgi.conf" :
     mode: "000644"
     owner: root
     group: root
     content: |
       LoadModule wsgi_module modules/mod_wsgi.so
       WSGIPythonHome /opt/python/run/baselinenv
       WSGISocketPrefix run/wsgi
       WSGIRestrictEmbedded On
       WSGIApplicationGroup %{GLOBAL}

       Listen 80
       <VirtualHost *:80>
         #SSLEngine on
         #SSLCertificateFile "/etc/letsencrypt/live/ebcert/fullchain.pem"
         #SSLCertificateKeyFile "/etc/letsencrypt/live/ebcert/privkey.pem"

         ServerName hamlet.andromedayelton.com
         # Django Application
         <Directory /opt/python/current/app/hamlet>
             <Files wsgi.py>
                 Require all granted
             </Files>
         </Directory>

         Alias /static/ /opt/python/current/app/staticfiles/
         <Directory /opt/python/current/app/staticfiles>
           Require all granted
         </Directory>

         WSGIScriptAlias / /opt/python/current/app/hamlet/wsgi.py

         WSGIDaemonProcess hamlet processes=1 threads=15 display-name=%{GROUP} \
           python-path=/opt/python/current/app:/opt/python/run/venv/lib/python3.6/site-packages:/opt/python/run/venv/lib64/python3.6/site-packages \
           home=/opt/python/current/app \
           user=wsgi \
           group=wsgi
         WSGIProcessGroup hamlet

       </VirtualHost>
       LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

container_commands:
  01_setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  02_setup_cache_headers:
    command: "cp .ebextensions/enable_cache_headers.conf /etc/httpd/conf.d/enable_cache_headers.conf"
  03_block_bots:
    command: "cp .ebextensions/block_bots.conf /etc/httpd/conf.d/block_bots.conf"
  04_wsgi_config:
    command: "mv /tmp/wsgi.conf /etc/httpd/conf.d/wsgi.conf"
  05_restart_apache:
    command: "sudo restart supervisord || sudo start supervisord"
