files:
  "/tmp/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/letsencrypt/live/ebcert/fullchain.pem"
        SSLCertificateKeyFile "/etc/letsencrypt/live/ebcert/privkey.pem"

        ServerName hamlet.andromedayelton.com
        # Django Application
        <Directory /opt/python/current/app/hamlet>
            <Files wsgi.py>
                Require all granted
            </Files>
        </Directory>

        Alias /static/ /opt/python/current/app/staticfiles/
        <Directory /opt/python/current/app/staticfiles>
          Require all granted
        </Directory>

        WSGIScriptAlias / /opt/python/current/app/hamlet/wsgi.py

        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib/python3.6/site-packages:/opt/python/run/venv/lib64/python3.6/site-packages \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl

      </VirtualHost>
      <VirtualHost *:80>
          RewriteEngine On
          RewriteCond %{REQUEST_URI} "!/.well-known/acme-challenge/"
          RewriteRule ^/*(.*)$ https://%{HTTP_HOST}/$1 [NE,L,R=301]
      </VirtualHost>
      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

commands:
  02_install_epel:
    command: "sudo amazon-linux-extras install epel -y"
  03_enable_epel:
    command: "sudo yum-config-manager --enable epel*"
  04_install_certbot:
    command: "sudo yum install -y certbot python2-certbot-apache"
  05_run_certbot:
    command: "sudo certbot --apache --non-interactive --email andromeda.yelton@gmail.com --agree-tos --domains hamlet.andromedayelton.com --keep-until-expiring --standalone"
  06_restart_httpd:
    command: "sudo systemctl restart httpd"
