commands:
  01_extra_packages_support:
    command: "cd /home/ec2-user && sudo wget -r --no-parent -A 'epel-release-*.rpm' https://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/"
  02_install_epel:
    command: "sudo rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm"
  03_enable_epel:
    command: "sudo yum-config-manager --enable epel*"
  04_install_certbot:
    command: "sudo yum install -y certbot python2-certbot-apache"
  05_run_certbot:
    command: "sudo certbot --apache --non-interactive --email andromeda.yelton@gmail.com --agree-tos --domains hamlet.andromedayelton.com --keep-until-expiring --standalone"
  06_restart_httpd:
    command: "sudo systemctl restart httpd"
