{% load static %}
{% load compress %}

<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lte-ie9" lang="en"><![endif]-->
<!--[if !(IE 8) | !(IE 9) ]><!-->
<html lang="en-US" class="no-js">
<!--<![endif]-->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>How About Machine Learning Enhancing Theses?</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="apple-touch-icon" href="/static/img/favicon.png">

    <!-- mitlib-style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,latin-ext" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    {% compress css %}
      <link rel="stylesheet" type="text/x-sass" href='{% static "sass/hamlet.sass" %}'>
    {% endcompress %}


  </head>

  <body>
    <div class="wrap-page">
      <!-- begin alpha header -->
      <div class="wrap-notices info layout-band">
        <div class="wrap-notice">
          <div class="alert alert-global">
            Hamlet is in alpha. Things may change, break, or not make sense yet. Please enjoy anyway - and check back for more fun stuff to come!
          </div>
        </div>
      </div>
      <!-- end alpha -->

      <!-- begin hamlet branding -->
      <div class="wrap-outer-header layout-band layout-band-hamlet">
        <div class="wrap-content layout-3q1q">
          <h1 class="pull-left">
            <a href="/" class="logo">
              <img src="{% static "img/ai_logo_white.png" %}" />
            <span class="h1-text">HAMLET</span>
            <span class="subtitle">How About Machine Learning Enhancing Theses?</span>
          </a>
          </h1>
          <a class="button-secondary link-logo-mit" href="{% url 'about' %}">About</a>
        </div>
      </div>
      <!-- end hamlet branding -->

      <!-- begin main content -->
      <div class="wrap-outer-content layout-band">
        <div class="wrap-content layout-3q1q">
          <main id="content-main" class="content-main" role="main">
            {% block content %}

            {% endblock %}
          </main>
        </div>
      </div>
      <!-- end main content -->

      <!-- begin footer-->
      <div class="wrap-outer-footer-institute layout-band">
        <div class="wrap-footer-institute">
          <footer class="footer-info-institute" aria-label="footer" role="contentinfo">
            <div class="license">
              <ul class="list-unbulleted">
                <li>
                  Hamlet is a project by <a href="https://andromedayelton.com">Andromeda Yelton.</a>
                </li>
                <li>
                  <a href="https://github.com/thatandromeda/hamlet">Code</a> hosted with &hearts; on GitHub.
                </li>
                <li>
                  Hamlet logo by <a href="https://thenounproject.com/krisztian21/">Krisztián Mátyás</a> used under the <a href="http://creativecommons.org/licenses/by/3.0/" class="license-cc">Creative Commons Attribution License</a>.
                </li>
              </ul>
            </div>
          </footer><!-- end .footer-info-institute -->
        </div>
      </div>
      <!-- end footer-->
      {# This footer is for javascript included by child templates. #}
      {% block footer %}

      {% endblock %}
    </div>
  </body>
</html>
