// Base setup

* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 62.5%;
}

body {
  background-color: $gray;
  color: $white;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: $lh-base;
  font-family: $base-font;

}

ol, 
ul {
  padding-left: 2.5rem;
}

li > ul, 
li > ol {
  margin-top: .5rem;
}

dt {
  font-weight: $fw-bold;
}

dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid $gray-l1;
}

a {
  @extend %link;
}

// because
.wrap-outer-header.reasons {
  background: #f23074; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f23074 0%, #d6d628 36%, #207cca 66%, #544b8c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f23074 0%,#d6d628 36%,#207cca 66%,#544b8c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f23074 0%,#d6d628 36%,#207cca 66%,#544b8c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23074', endColorstr='#544b8c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
