{% extends "base.html" %}

{% block content %}
  <h2>Your literature review buddy</h2>

  <p>
    Upload an article draft, thesis chapter-in-progress, et cetera and find out what works have been cited by similar MIT theses.
  </p>

  <p>
    That's right: we'll do a first-pass lit review for you.
  </p>

  {% include "upload_form.html" %}

  <p class="copy-sup">
    Note: Citations have been automatically extracted from fulltext and vary in accuracy. As ever, use your judgment.
  </p>

{% endblock %}
