{% extends "base.html" %}

{% block content %}
  <h2>Your literature review buddy</h2>

  {% if not total_suggestions %}
    <p>
      Unfortunately we couldn't find anything for you. However, your <a href="https://libraries.mit.edu/research-support/">friendly local reference librarians</a> can help.
    </p>
  {% else %}
    <p class="copy-sup">
      These citations have been extracted automatically from OCRed text files;
      expect messiness!
    </p>

    {% for thesis in suggestions %}
      {% if thesis.citation_set.all %}
        <div class="panel panel-info">
          <div class="panel-body">
            <i>from</i> <a href="{{ thesis.get_absolute_url }}">{{ thesis.title }}</a>:
            <ul class="list-unbulleted">
              {% for citation in thesis.citation_set.all %}
                <li>
                  {{ citation }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
