.layout-band-hamlet {
  background-color: $brand-primary;

  a.logo {
    color: $white;
    text-decoration: none;

    img {
      height: 35px;
      width: 35px;
      margin-bottom: 4px;
    }
  }

  h1 {
    color: $white;
    margin-bottom: 0;
    font-size: $fs-xxxlarge;
    font-weight: $fw-light;
    margin-bottom: -7px;
  }

  .button-secondary {
    margin: 4px 8px 4px 0;
    background-color: $brand-primary;
    color: $white;
    border: 1px solid $white;
    float: right;

    &:hover,
    &:focus {
      background-color: $brand-primary-accent;
    }
  }

  .wrap-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Make sure that autocomplete results are visible - otherwise they inherit
// color from <body> and end up as white text on a white background, which is
// maybe not a great life choice.
.select2-results {
  color: #444;
}
